<h1>Executing Observables Sample</h1>

<p>Observables Foundations.</p>
<button mat-raised-button color="primary" (click)="onSample01()">Observables Sample</button>

<p>Subjects Multicasting stream foundations.</p>
<button mat-raised-button color="primary" (click)="onSample02()">Subjects/Multicast Sample</button>

<p>Last Value stream foundations.</p>
<button mat-raised-button color="primary" (click)="onSample03()">Behavior Subject Sample</button>

<p>Replay streams example.</p>
<button mat-raised-button color="primary" (click)="onSample04()">Replay Subject Sample</button>

<br />

<p>RxJS Operators.</p>
<a href="https://reactive.how/reduce">Reactive How!</a>

<p>Takewhile.</p>
<a href="https://reactive.how/takewhile">Takewhile</a>

<p>Merge.</p>
<a href="https://reactive.how/merge">Merge</a>

<p>Scan.</p>
<a href="https://reactive.how/scan">Scan</a>


<p>CombineLatest.</p>
<a href="https://reactive.how/combinelatest">CombineLatest</a>
