<section class="sample-01">
    <h1 class="sample-01__decreasing" *ngIf="!(increasing$ | async)">
        <img src="../../assets/img/press-powerup.png" />
    </h1>
    <h1 class="sample-01__increasing" *ngIf="(increasing$ | async)">
        <img src="../../assets/img/keep-going.png" />
    </h1>

    <div class="sample-01__film">
        <div class="sample-01__film-normal" *ngIf="(isNormal$ | async)"></div>
        <div class="sample-01__film-normal-standing" *ngIf="(isNormalStanding$ | async)"></div>
        <div class="sample-01__film-ssj" *ngIf="(isSsj$ | async)"></div>
        <div class="sample-01__film-ssj-standing" *ngIf="(isSsjStanding$ | async)"></div>
    </div>

    <div class="sample-01__progress">
        <p>{{ (progress$ | async) + '%' }} </p>
        <span class="sample-01__progress-indicator" *ngIf="(increasing$ | async)">Increasing Energy!</span>
        <span class="sample-01__progress-indicator" *ngIf="!(increasing$ | async) && (progress$ | async)">Loosing Energy!</span>
        <mat-progress-bar mode="determinate" value="{{ (progress$ | async) }}"></mat-progress-bar>
        <img class="sample-01__its_over" [ngClass]="{'toasty': (itsOver$ | async )}" src='../../assets/img/6b3.png' />
        <p>{{ 'Level: ' + (words$ | async) | titlecase }} </p> <br />
    </div>
</section>
